.card {
  position: relative;
  background: white;
  cursor: pointer;
  border-radius:4px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 6px 1px #b2a9a9;
  transition: 200ms all ease-in-out;
}

.card:hover {
  background: #f3f3f3;
}

.card:last-child {
  margin-bottom: 0px;
}

.card-drag {
  opacity: 0.7;
  transform: scale(0.95);
  transition: 200ms all ease-in-out;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  font-weight: 700;
  color: white;
  text-transform: capitalize;
  font-size: 12px;
  border-radius: 4px 4px 0px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.new {
  background: #3081b0;
}

.investigate {
  background: #a16a05;
}

.done {
  background: #3a8b5e;
}

.critical {
  background: #9f3939;
}

.hold {
  background: grey;
}

.in-progress {
  background: #a39e04;
}

.card-comment-count {
  padding: 12px;
  align-self: flex-end;
}

.comment-delete {
  padding: 0px 3px;
  cursor: pointer;
  position: absolute;
  right: 4px;
  top: 3px;
  color: white;
}

.no-card {
  padding: 10px 0px;
  text-align: center;
  width: calc(100% - 10px);
  border-radius: 4px;
  background: #f6f6f6;
}