

.Modal label{
  margin-bottom: 5px;
  display: block;
  text-transform: capitalize;
  font-weight: 500;
}

.Modal>div:last-child{
display: flex;
align-items: center;
justify-content: flex-end;
gap: 8px;
}

.Modal button {
  font-size: 18px;
  border-radius: 20px;
  padding: 8px 12px;
}

.close:after {
  content: ' \2716';
  font-size: 16px;
  cursor: pointer;
  padding: 8px;
}

.edit{
  transform: rotate(108deg);
}

.edit:after {
  content: '\270E';
  font-size: 16px;
  cursor: pointer;
}



.btn-c {
  border-radius: 16px;
  padding: 4px 6px;
  border: none;
  color: white;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
}

.red {
  background: #b21a1a !important;
}

.blue {
  background: #3081b0 !important;
}

.dashboard-delete {
  position: absolute;
  bottom: 24px;
  right: 32px;
  z-index: 999;
  display: flex;
  gap:8px;
  align-items: center;
  border-radius: 16px;
}

.dashboard-delete>button {
  box-shadow: 4px 6px 6px 0px #787878;
  font-size: 22px;
  padding: 8px 14px;
}

.dashboard-delete>h2 {
  width: 140px;
  font-size: 15px;
  text-transform: capitalize;
  color: #3b3b3b;
  background: rgba(0, 0, 0, 0.206);
  border-radius: 8px;
  padding:2px 6px;
  transition: all 0.1s ease-in-out;
  overflow: hidden;
  opacity: 0;
}

.dashboard-delete:hover>h2 {
  opacity:1;
  transition: all 0.1s ease-in-out;
}

.add {
  color: #3081b0;
  font-size: 25px;
  padding: 0px 7px;
  background: white;
  display: flex;
  align-items: center;
}

.add:before {
  content: ' \002B';
}